.header__title{
  color: $purple;
  font-family: $Lato;
  font-size: $xxx-large;
  font-weight: $t-black;
}

.header__contact{
  color: $purple;
  font-family: $Lato;
  font-size: $medium;
  font-weight: $t-light;
}

.header__description{
  color: $purple;
  font-family: $Lato;
  font-size: $medium;
  font-weight: $t-light;
}

h2{
  color: $purple;
  font-family: $Lato;
  font-size: $xx-large;
  font-weight: $t-black;
}

h3{
  color: $purple;
  font-family: $Lato;
  font-size: $x-large;
  font-weight: $bold;
}

h4{
  color: $purple;
  font-family: $Lato;
  font-size: $large;
  font-weight: $regular;
}

p{
  color: $purple;
  font-family: $Lato;
  font-size: $medium;
  font-weight: $t-light;
}
