// Esquema de colores
$green: #7CEA9C;
$purple: #2D3047;
$black: #071013;
$white: #FFFFFF;

// Primer esquema de colores


// Segundo Esquema


// tercer Esquema


//cuarto esquema



//quinto esquema $verdigris: #44BBA4;


//sexto esquema


// tipografía $raleway: 'Raleway', sans-serif;
$Lato: 'Lato', sans-serif;


// peso $regular: 400;
$t-light: 300;
$regular:400;
$bold: 700;
$t-black: 900;



// tamaño $xxx-large: 70px;
$xxx-large: 50px;
$xx-large:30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
