.nav{
  display:flex;
  flex-direction: row;
  background-color: $white;
  margin-top: 15%;
}


@media (min-width: 992px) {

  .nav{
    display:flex;
    flex-direction: column;
    margin-top:5%;
    align-items: center;
  }

 }
